/target/test-classes/com/ecommerce_app_without_framework/eCommerce_tc_1.class
/target/test-classes/com/ecommerce_app_without_framework/eCommerce_tc_2.class
/target/test-classes/com/ecommerce_app_without_framework/eCommerce_tc_3.class
/target/test-classes/com/ecommerce_app_without_framework/eCommerce_tc_4.class
/target/test-classes/com/ecommerce_app_without_framework/eCommerce_tc_5.class
